.tabs {
    display: flex;
    flex-direction: column;
}

.tabs-nav {
    display: flex;
}

.tabs_nav-btn {
    padding: 15px 20px;
    font-size: 15px;
    border: 0;
    border-right: 1px solid #ebeeeb;
    background-color: #e7e4e1;
    cursor: pointer;
}

.tabs_nav-btn:last-child {
    border-right: none;
}

.tabs_nav-btn:hover {
background-color: #ddd;
}

.tabs_nav-btn.active {
    background-color:blue ;
    border-right-color: blue;
    color: white;
}
.tabs_content {
    padding: 30px;
    background-color: #fff;
}
.tabs_item{
    display: none;
}

.tabs_item.active{
    display: block;
}
